:root {
    --primary-color: black;
    --secondary-color: white;
}

* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-weight: bold;
}


header {
    background-image: url("./weather-stock.jpg");
    width: 100%;
    text-align: center;
    color: var(--primary-color);
    -webkit-text-stroke: 1px var(--secondary-color);
    font-size: xx-large;
    padding: 10px;
}

body {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.dashboard {
    border: 2px --primary-color;
}

.saved-cities,
.weather {
    list-style: none;
}

.favorable{
    background-color: lime;
    font-weight: bold;
}

.moderate {
    background-color: gold;
    font-weight: bold;
}

.severe {
    background-color: rgb(196, 26, 26);
    font-weight: bold;
}

.btn {
    background-color: rgb(13, 139, 139);
    border-color: navy;
    font-weight: bold;
    color: white;
}

footer {
    text-align: center;
    margin-bottom: 6px;
}