:root {
    --primary-color: black;
    --secondary-color: white;
}

header {
    background-image: url("./weather-stock.jpg");
    width: 100%;
    text-align: center;
    color: var(--primary-color);
    -webkit-text-stroke: 1px var(--secondary-color);
    font-size: xx-large;
    padding: 10px;
}
.dashboard {
    border: 2px --primary-color;
}

.city-search {

}

.btn {
    
}

.saved-cities {

}
.current-weather {

}
.forecast {

}